html {
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-image: url("../images/backgroundpattern-400px.png")
}
.headerNav {
  background-image: url("../images/the-flatiron-building.jpg");
  background-position: 65%;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-shadow: -1px 1px black, 1px -1px black;
}
.nav {
  font-size: 18px;
  color: white;
  text-shadow: -1px 1px black, 1px -1px black;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  text-shadow: -1px 1px white;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-shadow: -0.5px 0.5px  black;
  background-image: url("../images/nycbw.jpg");
  background-position: 95%;
}
p {
  font-size: 14px;
}
#footer {
  font-size: 11px;
  color: white;
}
.btmNav {
  background-color: dimgray;
  text-align: left;
}
.btmNav .nav{
  text-shadow: -0.3px 0.3px black, 0.3px -0.3px black;
}
